<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>locate</title>
</head>
<body>
    <h1>Location: INDIA </h1>
    <form mathod="get" action="/">
        <button type="submit">@nitesh.sharma85</button>
    </form>
    
</body>
</html>