<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POSTS</title>
    <style>
        button{
            color: #fff;
            background-color: blue;
            border-radius: 8px;
            padding: 3px 15px 3px 15px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div>
        <img src="https://media.istockphoto.com/id/1335845017/photo/pink-blooming-lotus-close-up.webp?s=2048x2048&w=is&k=20&c=zOc_R464oXkyu-nVcwaR22f6Ot7o2idIP74cFAPtN4A=" height="250px" width="260px">
        <img src="https://cdn.pixabay.com/photo/2024/06/20/17/03/fishing-8842590_640.jpg" height="200px" width="200px">
        <img src="https://cdn.pixabay.com/photo/2023/02/01/10/37/sunset-7760143_960_720.jpg"height="300px" width="500px" >
    </div>
    <div>
        <img src="https://cdn.pixabay.com/photo/2015/12/01/20/28/road-1072821_640.jpg" height="300px" width="500px">
        <img src="https://cdn.pixabay.com/photo/2023/07/10/06/13/mountain-8117525_640.jpg" height="300px" width="500px">
        <img src="https://cdn.pixabay.com/photo/2012/08/06/00/53/bridge-53769_640.jpg" height="300px" width="500px">
        <img src="https://cdn.pixabay.com/photo/2023/10/29/13/21/waterfall-8350178_640.jpg" height="300px" width="500px">
        <img src="https://cdn.pixabay.com/photo/2014/02/27/16/10/flowers-276014_640.jpg" height="300px" width="500px">
        <img src="https://cdn.pixabay.com/photo/2021/10/18/19/04/mountains-6721870_640.jpg" height="300px" width="500px">
        <img src="https://cdn.pixabay.com/photo/2015/07/05/10/18/tree-832079_640.jpg" height="300px" width="500px">
    </div>
    <form method="get" action="/">
    <button>Back</button>
</form>
</body>
</html>