<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tagged</title>
    <style>
        button{
            color: #fff;
            background-color: blue;
            border-radius: 8px;
            padding: 3px 15px 3px 15px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <h1>@jay_agrawal</h1>
    <h1>@gopal_17</h1>
    <h1>@1nikhilchaudhary11</h1>
    <h1>@nitesh.sharma85</h1>
    <form method="get" action="/">
        <button>Back</button>
    </form>
</body>
</html>